export(regress,summary.regress,print.regress,BLUP)

importFrom("stats", "as.formula", "model.frame", "model.matrix",
           "model.response", "na.pass", "nobs", "optimize", "var")

S3method(print, regress)
S3method(summary, regress)

